* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}
.header{
    display: flex;
    align-items: center;
}
.header .container{
    width:100%;
    padding: 2vh 3vw 1vh 3vw;
}
.navbar {
    width: 100%;
    margin-right:100px;
    display: flex;
    align-items: center;
    padding:0 5px;
    /* padding-top: 10px; */
    /* background-color: rgba(255, 229, 229, 1); 
    backdrop-filter: blur(10px); 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; */
    /* border-radius: 0 0 20px 20px;  */
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #555;
}

p {
    color: #555;
}

.trainer {
    max-width: 80vw;  /* Set maximum width for the trainer */
    margin: 0 auto;    /* Center the trainer horizontally */
    padding: 20px;
    text-align: center;  /* Center-align content within the trainer */
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.trainer h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.trainer h2 {
    font-size: 24px;
    margin-bottom: 30px;
}

#translationOptions {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

.translationButton {
    padding: 12px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.translationButton:hover {
    background-color: #0056b3;
}

#responseMessage {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}