* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #555;
}

p {
    color: #555;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    border-radius: 50%;
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    color: rgba(0, 0, 0, 0.801);
    font-size: 45px;
    line-height: 55px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background: rgba(19, 19, 18, 0.801);
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    margin-left: 140px;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover {
    background: rgba(56, 56, 56, 0.459);
}

.header {
    background: radial-gradient(#fff, #ffd6d6);
}

.header .row {
    margin-top: 70px;
}


.whyenglish {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #ffd6d6;
    border-radius: 30px;
    margin: 50px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 1500px;
}

.whyenglish .col-3 {
    border-radius: 10px;
    flex-basis: 40%;
    min-width: 300px;
}

.whyenglish .col-3 h1 {
    color: rgba(0, 0, 0, 0.801);
    font-size: 45px;
    line-height: 55px;
    padding-left: 25px;
}

.whyenglish .col-3 h1.explain {
    color: rgba(0, 0, 0, 0.801);
    font-size: 25px;
    line-height: 35px;
    padding-left: 25px;
}

.whyenglish .col-3 small {
    color: rgba(0, 0, 0, 0.801);
    font-size: 20px;
    line-height: 30px;
    padding-left: 35px;
}

.col-3 img {
    max-width: 100%;
}
.edudirection {
    color: rgba(0, 0, 0, 0.801);
}
.edudirection .container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.edudirection .col-4 {
    margin-top: 50px;
    /* flex: 0 0 calc(33.33% - 20px); */
    flex:1;
    padding: 10px;
    min-width: 200px;
    height: 400px;
    border-radius: 10px;
    border: 3px solid rgb(233, 102, 102); 
  
    margin-right:50px;
}

.col-4 h1 {
    font-weight: 300;
    font-size: 30px;
}
.edudirection .col-4 .header{
    display:flex;
    align-items: center;
    background:  #fff;
}
.edudirection .col-4 .header h1{
    flex:3;
    padding-right: 10px;
    font-size: 25px;
    line-height: 35px;
}
.edudirection .col-4 .header img{
    flex:1;
    border-radius: 50%;
}
.edudirection .col-4 .body .statement{
    padding-top: 50px;
    font-size: 20px;
}
.edudirection .main-heading{
    font-size: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

